# wiki-specific
config.json
.DS_Store
logs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
MANIFEST
.eggs/
*.spec

# Environments
.env
.envrc
.venv
env/
venv/
ENV/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checkers
.mypy_cache/
.pyre/
.pytype/

# Ruff
.ruff_cache/
